-
	var kvStore = [
	{key:'Клиент требует доставить срочно?', val: 'Мы доставляем за 2-3 часа по Москве. Или когда будет удобно.'},
	{key:'Заболел свой курьер?', val: 'Все курьеры уже заняты и некому доставить новый заказ? В Достависте Вы всегда сможете заказать курьера на замену. В течение 1-2 часов курьер будет у Вас. В любое время суток. Без бюроркатии и выматывающих звонков диспетчеру. Просто заполните форму заказа!'},
	{key:'Заказов не так много, чтобы держать курьера на зарплате?', val: 'Мы поможем сэкономить! Нам неважно сколько заказов вы делаете — раз в год или 1000 заказов — в месяц. Условия неизменны. Вы важны для нас независимо от количества заказов.'},
	{key:'Хотите протестировать новую рыночную нишу без лишних затрат и бюрократии?', val: 'Это проще, чем вы подумали! Просто покажите нам поставщиков, а наш курьер выкупит у них товар за свои собственные деньги и получит деньги с покупателя. Таким образом, вы просто создаете витрину и оформляете покупку, а мы делаем все остальное.'},
	{key:'Хотите иметь конкурентное преимущество, предлагая доставку день в день?', val: 'Кризис — возможность сделать рывок, пока Ваши конкуренты оглушены новыми вызовами рынка. А Вы уже сегодня доставляете заказы день в день. По нашей статистике клиент, получивший желанную покупку через пару часов в 6 раз чаще говорит об этом друзьям и знакомым.'},
	]

section.why
	.section--header.has-text-centered.is-size-4-desktop.is-size-5-tablet.is-size-6-mobile
		| Почему Достависта?
	each kvPair in kvStore
		.row.is-size-7-mobile
			hr.hr
			.columns
				.column.has-text-justified.has-text-weight-bold= kvPair.key
				.column.has-text-justified.col--second= kvPair.val
